<% layout('layouts/boilerplate') %>
<h1>All reviews</h1>
<div>
    <a href="/reviews/new">Add Review</a>
</div>
<ul>
    <% for (let review of reviews) { %>
        <li><a href="/reviews/<%= review._id %> ">
                <%= review.title %>
            </a></li>
        <% } %>
</ul>