<% layout('layouts/boilerplate') %>
    <form action="/reviews" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="review[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="review[location]">
        </div>
        <button>Add Review</button>
    </form>
    <a href="/reviews">All Reviews</a>
